.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.slider {
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.rightArrow {
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.image {
  min-width: 60vw;
  min-height: 60vh;
  border-radius: 10px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.description {
  color: white;
  text-align: center;
  width: 60vw;
}
