:root {
  --dark: ;
  --darker: #191919;
  --darkest: ;
  --light: #fff;
  --purple: #8332ac;
}
.app {
  min-height: 70vh;
  display: flex;
  justify-content: center;
}
Body {
  background-color: var(--darker);
  /* font-family: "Carrois Gothic SC", sans-serif; */
  font-family: "Orbitron", sans-serif;
}
.logout_body {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.userInput {
  border: none;
  background-color: var(--light);
  padding: 5px;
  /* max-width: ; */
}
/* Link {
  text-decoration: none;
} */

.gobackBtn {
  color: white;
  font-size: small;
}
.link {
  text-decoration: none;
  color: white;
}

/* navBar */

.NavBarborder {
  max-width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(82, 51, 132, 0.8);
  color: white;
  text-decoration: none;
  letter-spacing: 8px;
}

.NavBarTitle {
  font-size: x-large;
  font-weight: bolder;
}

.NavBarLink {
  text-decoration: none;
  color: white;
}

/* End NavBar  */
/* login button */
.btn-71,
.btn-71 *,
.btn-71 :after,
.btn-71 :before,
.btn-71:after,
.btn-71:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-71 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(46, 46, 46);
  background-image: none;
  color: #fff;
  cursor: pointer;
  /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */
  font-family: "Orbitron", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-71:disabled {
  cursor: default;
}
.btn-71:-moz-focusring {
  outline: auto;
}
.btn-71 svg {
  display: block;
  vertical-align: middle;
}
.btn-71 [hidden] {
  display: none;
}
.btn-71 {
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-71:before {
  --opacity: 0.2;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  opacity: var(--opacity);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  z-index: -1;
}
.btn-71:hover:before {
  -webkit-animation: enlarge 1s forwards;
  animation: enlarge 1s forwards;
}
@-webkit-keyframes enlarge {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
@keyframes enlarge {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}

/* end of login button  */

/* landingPage */

.landingPageImage {
  padding: 5%;
  width: 600px;
}

.landingPageContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingPageDescription {
  font-size: xx-large;
  color: white;
  text-align: center;
  width: 60vw;
}
.landingPageBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  min-width: 70vh;
  background-size: cover;
}

.BorderSeparator {
  width: 150vh;
  margin: auto;
}
/* end landingPage */

/* HyperDrive */
hyper-body {
  overflow: hidden;
  background: #000;
  text-align: center;
}

.hyper-body:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hyper-wall {
  background: url(./components/Assets/galaxy.jpg);
  background-size: cover;
}

.hyper-scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

.hyper-wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.hyper-wrap:nth-child(2) {
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.hyper-wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

.hyper-wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.hyper-wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.hyper-wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.hyper-wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.hyper-wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.hyper-wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
  0% {
    transform: translateZ(-500px) rotate(0deg);
  }
  100% {
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* end HyperDrive */

/* BrowseCrawl section */
.BrowseCrawlSection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.BrowseCrawlLoading {
  text-align: center;
  color: white;
  font-size: xx-large;
}

/* end of BrowseCrawl */

/* Card section */
.CardCrawl_container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* border: 6px solid red; */
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* .crawl_container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* border: 6px solid red; */
/* } */

.CardCrawl_card {
  display: flex;
  flex-direction: column;
  height: 40vh;
  min-width: 30vw;
  cursor: pointer;
  /* border: 6px solid red; */
}

.Cardcrawl_color {
  height: 90%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: rgb(231, 83, 255);
  background: linear-gradient(
    180deg,
    rgba(231, 83, 255, 1) 0%,
    rgba(72, 240, 251, 1) 100%
  );
}
.Cardcrawl_name_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(46, 46, 46);
  border-radius: 0 0 10px 10px;
  font-size: larger;
  width: 100%;
  height: 10vh;
}

/* img {
  height: 30vh;
  width: 30vw;
}
.crawl_list_container {
  width: 40vw;
  height: 50vh;
  color: white;
  background: rgb(231, 83, 255);
  background: linear-gradient(
    180deg,
    rgba(231, 83, 255, 1) 0%,
    rgba(72, 240, 251, 1) 100%
  );
  padding: 5%;
  border-radius: 15px;
} */

/* end of card section */

/* Login section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.LoginSignInCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  /* height: 50vw; */
  color: white;
  background: rgb(231, 83, 255);
  background: linear-gradient(
    180deg,
    rgba(231, 83, 255, 1) 0%,
    rgba(72, 240, 251, 1) 100%
  );
  padding: 5%;
  border-radius: 15px;
  line-height: 2;
}

/* end Login */

/* LoginHome section */
.LoginHomebody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.LoginHomeContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #523384;

  padding: 5%;
  border-radius: 15px;
  min-width: 30vw;
  min-height: 40vh;
}

/* end of  LoginHome */

/* footer section */
.FooterBorder {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #191919;
  color: white;
  bottom: 0;
}

/* end of footer */
